:root{
  --font-family1: "Matemasie", sans-serif;
  --font-family2: "Moderustic", sans-serif;
  --font-color: #323232;
  --font-color2: #f4e8d8;
  --background-color: #323232;
  --color1: #1e1e1e;
  --color3: #f9be70;
  --color2: #262626;
  
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: var(--font-family2);
}

html, body, #root{
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
